*,*::after,*::before {
	box-sizing: border-box;
}
body {
	background: #eaeaea;
}
.wrapper {
	max-width: 1120px;
	margin: 0 auto;
}

.button {
	background: #f8f8f8;
	border:solid 1px #c2c2c2;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12px;
	padding: 8px 12px 4px 12px;
}

.header {
	background: #f8f8f8;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 44.5px 95px 44.5px;

}
@media (max-width: 1120px){

 .header {
 	padding: 44.5px 30px 44.5px;
 }
}
.header__logo {
	display: block;
	line-height: 0;
}
.header__nav {
	flex: 1;
	padding: 0 3.24% 0 7.216%; 
	
}
.header__menu {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	justify-content: space-between;
}
.header__item {}
.header__link {
	display: block;
	position: relative;
	top:2px;
	text-transform: uppercase;
	color:#0f0f0f;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
}
.header__button {
	flex-shrink: 0;
	padding: 8px 50px 4px 50px; 
	background: url(../img/search.png) 30px 46% no-repeat;
}
.header__burg {
	display: none;
	flex-direction: column;
	height: 15px;
	justify-content: space-between;
}

.header__burg__item {
	width: 20px;
	height: 2px;
	background: #0f0f0f;
}

@media (max-width: 960px){

.header {
 	padding: 35px 30px 35px;
}
.header__item {
	display: none;
}
.header__button {
	border: none;
	padding: 8px 20px 4px 20px;
	background-position: left;
}
.header__burg {
	display: flex;
}
}

.section1 {
	background: url(../img/img1.png)  no-repeat;
	background-size: cover;
	margin: 85px 0;
	max-width: 1120px;
		
}
.section1__card {	
	width: 41%;
	padding: 50px 0 0 95px;
}

.section1__title {
	margin-top: 32px;
	
	font-family: 'Playfair Display';
	color:#911026;
	font-weight: 400;
}
.section1__text {
	font-family: 'Josefin Sans', sans-serif;
}
.section1__button {
	margin: 25px 0 55px;
}

@media (max-width: 1120px){
	.section1 {
	background-position: 40%;

}
	.section1__card {
		padding-left: 30px;
		width: 38%;
	}
	.section1__title {
	width: 100%;
}

}
@media (max-width: 960px){
	.section1 {
		margin-top: 0;
	}
	.section1__card {
		width: 38%;	
	}
	.section1__logo {
		display: none;
	}
	.section1__title {
		margin-top: 0;
	}
} 
	

@media (max-width: 620px){
	.section1 {
		background-position: 85%;
	
		
	}
	.section1__title,.section1__text{
	display: none;
}
	.section1__card,.section1__button {
		width: 100%;
	}
 	.section1__card {
 		padding: 0;
 		
 	}
 	.section1__button {
 		margin: 0;
 		margin-top: 64%;
 		padding: 25px;
 		font-size: 18px;
 		border:none;
 	}
}
.section2 {
	display: flex;
	
	/*padding: 40px 30px;*/
	background: #fff;
	flex-wrap: wrap;
	padding: 2%;
	overflow: hidden; 	
}
.section2__card {
	flex: 0 1 29.3333333%;
	margin:2%
}
.section2__img {
	width: 100%;
}

.section2__text {
	
}

.section2__title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	margin-bottom: 5px;
}
.section2__info {
	font-size: 12px;
}
.section2__time::before,.section2__comment::before,.section2__view::before {
	content: "";
	height: 12px;
	width: 13px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	background-size: cover;
}
.section2__time {
	font-family: sans-serif;

}
.section2__time::before {
	background: url(../img/time.png) no-repeat;
	margin-bottom: 4px;

}
.section2__comment::before {
	background: url(../img/comm.png) no-repeat;
	margin-bottom: 2px;
}
.section2__view::before {
	background: url(../img/veiw.png) no-repeat;
}

@media (max-width: 960px){
	.section2 {
		
	}
	.section2__card {
	flex:0 0 46%;
	/*margin: 0 2%;*/
}
}
@media (max-width: 620px){
	.section1 {
		margin-bottom: 0;
	}
}

@media (max-width: 620px){
	.section2 {
		padding: 0;
}
	.section2__card {
	flex:0 0 100%;
	padding: 0;
	margin: 0;
}
	.section2__text {
		padding: 5px 30px 20px
	}
}

.section3 {
	display: flex;
	background: #fff;
	margin: 85px 0;
}

.section3__img {
	background: url(../img/s31.png) no-repeat;
	background-size: cover;
	background-position: 40% ;
	flex: 0 1 45%;
	
}

.section3__card {
	flex: 1;
	padding:  0 30px;
	max-width: 570px

}

.section3__title {
	font-family: 'Playfair Display';
	font-size: 32px;
	margin: 16px 0 10px;
	color: #055555
}

.section3__info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 470px
}

.section3__about {
	display: flex;
	align-items: baseline;
}

.section3__time {

}

.section3__time::after,.section3__time::before {
	content: "";	
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	background-size: cover;
}
.section3__time::after {
	background: url(../img/easy.png) no-repeat;
	height: 30px;
	width: 30px;
	margin-bottom: 10px;
	margin-left:10px;
}

.section3__time:before {
	height: 12px;
	width: 13px;
	background: url(../img/time.png) no-repeat;
	margin-bottom: 3px;
}
.section3__text_title {
	font-family: 'Playfair Display';
}
.section3__text {
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom: 30px;
}

@media (max-width: 620px){
	.section3 {
		flex-direction: column;
	}

	.section3__img {
		padding-top:50%;
		background-position: 0% 20%;
	}
}

@media (max-width: 340px) {
	.section3__info {
		flex-direction: column;
		align-items: center;
	}
}

.section4 {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.section4__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	flex: 0 1 45%;
	padding: 0 35px;
	
}
.section4__error,.section4__button {
	align-self: center;
	text-align: center;
}
.section4__card_left {
	background: url(../img/plate.png) no-repeat;
	background-size: cover;
}

.section4__title {
	border-bottom: solid 2px #dddddd;
	padding-bottom: 6px;
	margin-bottom: 0;
}

.section4__errorTitle {

}

.section4__errorText {

}

.section4__about {
	display: flex;
	flex-direction: column;
	padding: 23px 0 0;
}
.section4__about_top {
	display: flex;
}
.section4__photo {	
	height: 128px;
	background: url(../img/photo.png) no-repeat;
	background-position: cover;
	flex: 0 0 128px;
	border-radius: 50%;
}
.section4__contact {
	flex:1;
	padding-left: 20px;
}
.section4__discription {
	display: flex;
	flex-direction: column;
	padding-left: 148px;	
	flex: 0 0;
	margin: -60px 0 20px;
}

.section4__name {
	margin-top: 10px;
	margin-bottom: 10px;
}

.section4__from {
	border-bottom: solid 2px #dddddd;
	padding-bottom: 6px;
	margin-bottom: 0;
}

.section4__title_about {
	font-size: 20px;
	margin: 15px 0;
}

.section4__text {

}

.section4__sign {
	max-width: 100%;
	margin-top: 20px;
	align-self: flex-end;
}

@media (max-width: 960px) {
	.section4 {
		flex-direction: column;
		margin:0;
	}
	.section4__card {
	background: #fff;
	flex: 0 1 100%;
	padding: 0 35px 30px;
	margin: 20px 0;
	
}
}

@media (max-width: 500px) {
	.section4__about_top {
		align-items: center;
	}
	.section4__discription {
	padding-left: 0;
	flex: 0 0;
	margin: 0px 0 20px;
}
}

@media (max-width: 380px) {
	.section4__about_top {
	flex-direction: column;
}
.section4__photo {
	width: 128px;
}

.section4__contact {
	flex:1;
	padding-left: 0;
	align-self: stretch;
	text-align: center;
}
}