*,*::after,*::before {
	box-sizing: border-box;
}
body {
	background: #eaeaea;
}
.wrapper {
	max-width: 1120px;
	margin: 0 auto;
}

.button {
	background: #f8f8f8;
	border:solid 1px #c2c2c2;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12px;
	padding: 8px 12px 4px 12px;
}

.header {
	background: #f8f8f8;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 44.5px 95px 44.5px;

}
@media (max-width: 1120px){

 .header {
 	padding: 44.5px 30px 44.5px;
 }
}
.header__logo {
	display: block;
	line-height: 0;
}
.header__nav {
	flex: 1;
	padding: 0 3.24% 0 7.216%; 
	
}
.header__menu {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	justify-content: space-between;
}
.header__item {}
.header__link {
	display: block;
	position: relative;
	top:2px;
	text-transform: uppercase;
	color:#0f0f0f;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
}
.header__button {
	flex-shrink: 0;
	padding: 8px 50px 4px 50px; 
	background: url(../img/search.png) 30px 46% no-repeat;
}
.header__burg {
	display: none;
	flex-direction: column;
	height: 15px;
	justify-content: space-between;
}

.header__burg__item {
	width: 20px;
	height: 2px;
	background: #0f0f0f;
}

@media (max-width: 960px){

.header {
 	padding: 35px 30px 35px;
}
.header__item {
	display: none;
}
.header__button {
	border: none;
	padding: 8px 20px 4px 20px;
	background-position: left;
}
.header__burg {
	display: flex;
}
}

.section1 {
	background: url(../img/img1.png)  no-repeat;
	background-size: cover;
	margin: 85px 0;
	max-width: 1120px;
		
}
.section1__card {	
	width: 41%;
	padding: 50px 0 0 95px;
}

.section1__title {
	margin-top: 32px;
	
	font-family: 'Playfair Display';
	color:#911026;
	font-weight: 400;
}
.section1__text {
	font-family: 'Josefin Sans', sans-serif;
}
.section1__button {
	margin: 25px 0 55px;
}

@media (max-width: 1120px){
	.section1 {
	background-position: 40%;

}
	.section1__card {
		padding-left: 30px;
		width: 38%;
	}
	.section1__title {
	width: 100%;
}

}
@media (max-width: 960px){
	.section1 {
		margin-top: 0;
	}
	.section1__card {
		width: 38%;	
	}
	.section1__logo {
		display: none;
	}
	.section1__title {
		margin-top: 0;
	}
} 
	

@media (max-width: 620px){
	.section1 {
		background-position: 85%;
	
		
	}
	.section1__title,.section1__text{
	display: none;
}
	.section1__card,.section1__button {
		width: 100%;
	}
 	.section1__card {
 		padding: 0;
 		
 	}
 	.section1__button {
 		margin: 0;
 		margin-top: 64%;
 		padding: 25px;
 		font-size: 18px;
 		border:none;
 	}
}
.section2 {
	display: flex;
	
	/*padding: 40px 30px;*/
	background: #fff;
	flex-wrap: wrap;
	padding: 2%;
	overflow: hidden; 	
}
.section2__card {
	flex: 0 1 29.3333333%;
	margin:2%
}
.section2__img {
	width: 100%;
}

.section2__text {
	
}

.section2__title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	margin-bottom: 5px;
}
.section2__info {
	font-size: 12px;
}
.time::before,.comment::before,.view::before {
	content: "";
	height: 12px;
	width: 13px;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
}
.time {
	font-family: sans-serif;
	margin-right: 4px;

}
.time::before {
	background: url(../img/time.png) no-repeat;
	margin-bottom: 4px;

}
.comment {
	margin: 4px;
}
.comment::before {
	background: url(../img/comm.png) no-repeat;
	margin: 2.5px;
}
.view::before {
	background: url(../img/veiw.png) no-repeat;
}

@media (max-width: 960px){
	.section2 {
		
	}
	.section2__card {
	flex:0 0 46%;
}
}
@media (max-width: 620px){
	.section1 {
		margin-bottom: 0;
	}
}

@media (max-width: 420px){
	.section2 {
		padding: 0;
}
	.section2__card {
	flex:0 0 100%;
	padding: 0;
	margin: 0;
}
	.section2__text {
		padding: 5px 30px 20px
	}
}

.section3 {
	display: flex;
	background: #fff;
	margin: 85px 0;
}

.section3__img {
	background: url(../img/s31.png) no-repeat;
	background-size: cover;
	background-position: 40% ;
	flex: 0 1 45%;
	
}

.section3__card {
	flex: 1;
	padding:  0 30px;
	max-width: 570px

}

.section3__title {
	font-family: 'Playfair Display';
	font-size: 32px;
	margin: 16px 0 10px;
	color: #055555
}

.section3__info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 470px
}

.section3__about {
	display: flex;
	align-items: baseline;
}

.section3__time {

}

.section3__time::after,.section3__time::before {
	content: "";	
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	background-size: cover;
}
.section3__time::after {
	background: url(../img/easy.png) no-repeat;
	height: 30px;
	width: 30px;
	margin-bottom: 10px;
	margin-left:10px;
}

.section3__time:before {
	height: 12px;
	width: 13px;
	background: url(../img/time.png) no-repeat;
	margin-bottom: 3px;
}
.section3__text_title {
	font-family: 'Playfair Display';
}
.section3__text {
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom: 30px;
}

@media (max-width: 620px){
	.section3 {
		flex-direction: column;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.section3__img {
		padding-top:50%;
		background-position: 0% 20%;
	}
}

@media (max-width: 340px) {
	.section3__info {
		flex-direction: column;
		align-items: center;
	}
}

.section4 {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}

.section4__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	flex: 0 1 47%;
	padding: 0 35px;
	font-family: 'Josefin Sans', sans-serif;
	
}
.section4__error,.section4__button {
	align-self: center;
	text-align: center;
}
.section4__card_left {
	background: url(../img/plate.png) no-repeat;
	background-size: cover;
}

.section__title {
	border-bottom: solid 2px #dddddd;
	padding-bottom: 6px;
	margin-bottom: 0;
}

.section4__errorTitle {

}

.section4__errorText {

}

.section4__about {
	display: flex;
	flex-direction: column;
	padding: 23px 0 0;
}
.section4__about_top {
	display: flex;
}
.section4__photo {	
	height: 128px;
	
	background-position: cover;
	flex: 0 0 128px;
	border-radius: 50%;
}
.photo1 {
	background: url(../img/photo.png) no-repeat;
}
.photo2 {
	background: url(../img/man2.png) no-repeat;
	-webkit-background-size: 128px;
	background-size: 128px;
}
.section4__contact {
	flex:1;
	padding-left: 20px;
}
.section4__discription {
	display: flex;
	flex-direction: column;
	padding-left: 148px;	
	flex: 0 0;
	margin: -60px 0 20px;
}

.section4__name {
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.section4__from {

	border-bottom: solid 2px #dddddd;
	padding-bottom: 6px;
	margin-bottom: 0;
}

.section4__title_about {
	font-style: italic;
	font-size: 20px;
	margin: 15px 0;
}

.section4__text {
	font-style: italic;
}

.section4__sign {
	max-width: 100%;
	margin-top: 20px;
	align-self: flex-end;
}

@media (max-width: 765px) {
	.section4 {
		flex-direction: column;
		margin:0;
	}
	.section4__card {
	background: #fff;
	flex: 0 1 100%;
	padding: 0 35px 30px;
	margin: 0 0 20px;
	
}
}

@media (max-width: 1100px) {
	.section4__about_top {
		align-items: center;
	}
	.section4__discription {
	padding-left: 0;
	flex: 0 0;
	margin: 0px 0 20px;
}
}

@media (max-width: 380px) {
	.section4__about_top {
	flex-direction: column;
}
.section4__photo {
	width: 128px;
}

.section4__contact {
	flex:1;
	padding-left: 0;
	align-self: stretch;
	text-align: center;
}
}

.section5 {
	max-width: 1025px;
	margin: 80px auto 0;
} 
.gutter-width {
	width: 0;
}

.section5__card {
	float: left;
	padding: 0 15px;
	width: 290px;
	font-family: 'Josefin Sans', sans-serif;
	background: #fff;
	margin: 0 25px 50px;

}

@media (max-width: 1045px) {
.section5 {
	max-width: 750px;
	margin: 80px auto 0;

} 
	.gutter-width {
	width: 0;
}
.section5__card {
	margin: 50px 5.6% 0;
}
}
@media (max-width: 765px) {
.section5 {
	max-width: 290px;
	margin: 0 auto 0;

} 
	.gutter-width {
	width: 0;
}
.section5__card {
	margin: 50px 0 0;
}
}
@media (max-width: 360px) {
.section5 {
	max-width: 420px;
	width: 100%;
	margin: 0;

} 
	.gutter-width {
	width: 0;
}
.section5__card {
	width: 100%;
	margin: 0;
	
}
}
.card1 {
	padding: 0;
}
.card1__title {
	margin: 18px 15px 15px;
	padding-bottom: 3px;
	font-size: 22px;
	color:#055555;
	text-align: center;
	border-bottom: solid 2px #dddddd;
}
.card1__info {
	padding: 0 15px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.card1__photo {
	flex:0 0 80px;
	width: 80px;
	height: 80px;
	background: url(../img/man3.png) no-repeat;
	background-size: cover;
}
.card1__recipe {
	padding: 0 20px;
}

.card1__wrap{
	line-height: 0;
}

.card1__img {
	width: 100%;
}

.card3__info {
	display: flex;
	padding:15px;
}

.section5__recipe {
	padding-left: 20px;
	flex:1 0;
}

.section5__photo {
	background: url(../img/man3.png) no-repeat;
	flex:0 0 56px;
	height: 56px;
	border-radius: 50%;
}

.card2__tabs {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.card2__tab {
	padding: 0 15px;
	text-decoration: none;
	text-transform: uppercase;
	color:#000;
}

.card2__recipe {
	display: flex;
	margin-top: 15px;
	padding-right: 3px;
}

.card2__recipe_photo {
	background-size: 100px;
	flex: 0 0 100px;
	height: 70px;
}

.card2__recipe_img {
	max-width: 100%;
}

.card2__recipe_photo1{
	background: url(../img/s21.png);
}

.card2__recipe_photo2 {
	background: url(../img/s22.png);
}

.card2__recipe_photo3 {
	background: url(../img/slide1.png);
}

.card2__recipe_discription {
	padding-left: 10px;
}

.card2__recipe_title {
	margin: 2px 0 5px;
	font-size: 12px;
}

.card2__recipe_text {
	margin-top: 0;
}
.card2__button {
	display: block;
	margin: 30px 0 40px auto;
}

.card3 {
	background: url(../img/pop.png) no-repeat;
	background-size: cover;
	padding-bottom: 108px;
}
.card3__title {
	margin-bottom: 20px;
	font-family: 'Playfair Display';
	color: #921026;
	font-size: 32px;

}
.card3__name {
	font-size: 22px;
}
@media (max-width: 765px){
.card3 {
	padding-bottom:35%;
}
}
@media (max-width: 360px){
.card2__recipe_title {
	font-size: 16px;
}
.card3 {
	background-position: 0 99%;
}
}

.card__title {
	border-bottom: solid 2px #dddddd;
	font-style: italic;
	margin: 20px 0 10px;
	padding-bottom: 5px;
}

.section5__title_blue {
	font-family: 'Playfair Display';
	color: #055555;
	font-size: 20px;

}
.timeline__time {
	display: flex;
	align-items:center;
}
.timeline__time::before {
	content: "";
	display: inline-block;
	
	height: 9px;
	
	margin-bottom: 2px;
	margin-right: 5px;
}
.time1::before {
	width: 70px;
	background: #87d0c5;
}

.time2::before {
	width: 100px;
	background: #0d5959;
}

.time3::before {
	width: 130px;
	background: #b50051;
}

.card4__text {
	margin-top: 0;
}
@media (max-width: 1045px) {
	.card4 {
		padding-bottom: 14px;
	}
}
.card6 {
	position: relative;
}

.card6__text {
	margin: -45px 0 10px;
}
.timeline-wrap {
	position: relative;
}
.timeline {
	position: relative;	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	transform: rotate(270deg);
	transform-origin:0 0;
	top:200px;
	height: 260px;
	border-left: solid 2px #dddddd;
	padding-left: 20px;
	
}


.line {
	/*padding: 10% 0 ;*/
}

@media (max-width: 360px) {
.timeline {	
	transform:none;
	position: static;
	height: 60vw;
	border-bottom: solid 2px #dddddd;
	border-left: none;
	padding-left:0;
	margin: -20px 0 0;
}
.line {
	/*padding: 10% 0 ;*/
}
.card6__text {
	margin: 10px 0 0;
}
}
.progress {
	display: flex;
	margin: 20px 0;
}
.progress-bar {
	position: relative;
	width: 70px;
	height: 70px;
}

.progress_info {
	padding-left: 10px;
}
.progress_title {
	margin:0 0 5px;
}
.percent {
	position: absolute;
	top:23px;
	left:17px;
	font-size: 21px;
}
.circle1 {	
	stroke: #87d0c5;
	stroke-width:3px;
	stroke-dasharray: 104 1000;
	stroke-dashoffset:9.8;	
}

.circle2 {
	stroke: #055454;
	stroke-width:3px;
	stroke-dasharray: 128 1000;
	stroke-dashoffset:9.8;
}

.circle3 {
	stroke: #b50051;
	stroke-width:3px;
	stroke-dasharray: 180 1000;
	stroke-dashoffset:9.8;
}
.calendar__table {
	margin: 0 auto;
}
.calendar__month {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	font-size: 18px;
}

.calendar__month::before {
	content: "\2039";
}

.calendar__month::after {
	content: "\203A";
}

@media (max-width: 360px){
.calendar__month::before,.calendar__month::after {
}
}
.calendar__day {
	font-size: 14px;
	width: 35px;
	height: 40px;
	text-align: center;
}

.calendar__day_week {
	text-decoration: underline;
}

.calendar__day_gray {
	color: #a4a4a4;
}

.card5__tags {
	display: flex;
	flex-wrap: wrap;
}
.card5__tag {
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	color:#1f1f1f;
	margin: 10px 5px;
}

.footer {
	display: flex;
	align-items: center;
	background: #2f2f2f;
	padding: 70px 0 65px;
	margin-top: 50px;
}

.footer__wrap {
	display: flex;
	width: 980px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;

}
.footer__logo {
	
}

.footer__nav {
	
}

.footer__menu {
	display: flex;
	padding: 0;
	list-style: none;
}

.footer__tab {
	
}

.footer__link,.footer__copy {
	color:#838383;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Josefin Sans', sans-serif;
}

.footer__link {
	padding: 0 10px;
}
.footer__copy {
	margin: 7px 0 0;
	
}

@media (max-width: 1045px) {
.footer__wrap {	
	flex-direction: column;
}
.footer {
	padding: 36px 10px;
}
}

@media (max-width: 480px) {

.footer__wrap {
	align-items: flex-start;
	position: relative;
}
.footer__menu {	
	position: absolute;
	flex-direction: column;
	top:0;
	right: 0;
	margin: 0;
}
.footer__copy {
	margin: 80px 0 0;
	align-self: stretch;
	text-align: right;
	border-top: solid 2px #999999;
	padding: 10px 0 0;
}
.footer__link {
	display: block;
	padding: 0 0 12px;
}
}