@charset "utf-8";

@media (max-width: 380px){
	.logo-copy{
		max-width: 140px;
	}
	.footer-menu li {
		min-width: 90px
	}
	
	.menu {
		font-size: 12px;
	}
	.main-h1 {
		font-size: 25px;
	}
	.main-p {
		font-size: 18px;
	}
	
	.article-img-small {
		float: left;
		margin-right: 8px;
		margin-bottom: 10px;
}

	.team .wrap-art {
	display: block;
}
	.about-img {
		width: 220px;
		height: 121px;
	}
}
