@charset "utf-8";

@media (max-width: 980px){
	.members-of-team {
		display: flex;
		padding: 0 1px;
		justify-content: space-around;
	}
	.logo-searh {
	padding-left: 30px;
	padding-right: 30px;
	}
	.middle {
		flex: 1 45%;
	}
	.about-main {
	margin-top: 30px
	}
	.article-img-big{
		padding: 43px;
		display: inline-block;
		float: left;
		margin-right: 10px;
	}
	.start .text-wrap {
		padding: 0;
	}
	.team .text-wrap {
	padding-left: 0;
	display: block;
	}
	
	.start .wrap-art{
		display: block;
	}
	.art-text{
		margin-bottom: 4px;
	}

	.left-and-right {
		display: block;
	}
	
	.wrap-menu-offices {
		display: flex;
		
		width: auto;
	}
	
	.aside-menu {
		display: block;
		flex-grow: 1;
	}
	
	.aside-menu li {
		width: 100%;
	}
	.aside-menu .tab {
		font-size: 14px;
	}
	aside h3 {
		margin: 0;
	}
	
	
	.wrap-about-img {
		align-items:flex-start;
		justify-content: space-around;
	}
	.article-img-small {
	float: left;
	margin-right: 8px;
}

.team .wrap-art {
	display: block;
}
.members-of-team p { 
	padding-left: 0;
}
.members-of-team .member-name {
padding-top: 8px;
}
.project-section1 {
margin-top: 30px;
}
.pd_0_10 {
padding: 0 10px;
}
.wrap-projects{
justify-content: space-around;
}



}

