@font-face {
    font-family: 'gobold_boldregular';
    src: url('goboldbold-webfont.woff2') format('woff2'),
         url('goboldbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}