.footer {
  background: #000;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  color:#fff;
    @media(max-width: 440px){
      padding: 0;
    }

    &__wrap {
      position: relative;
      display: flex;
      max-width: 1300px;
      margin: 0 auto;

        @media(max-width: 920px){
          flex-wrap: wrap;
        }
    }
    &__title {
      margin: 15px 0;
      width: 111px;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      font-size: 14px;
      border-bottom: solid 1px #fff;
    }
    &__title_featuers {
      width: 208px;
    }
    &__favorite {
      @media(max-width: 440px){
        display: none;
      }

      display: block;
      align-self: center;
      margin-left: auto;
      margin-right: 30px;
    }
    &__button {
      @media(max-width: 440px){
        flex:0 0 150px;
        margin: 0 auto;
      }

      font-family: Roboto, sans-serif;
      padding: 5px 0;
      flex:0 0 175px;
      background: #00eaff;
      border-radius: 20px;
      border:none;
      align-self: center;
      margin-right: 20px;
      cursor: pointer;

        @media(max-width: 920px){
          margin-right: auto;
        }
    }
}

.pay {
  flex:0 1;
  padding: 0 40px 20px;

    @media(max-width: 920px){
      padding-left: 20px;
    }
    @media(max-width: 440px){
      padding: 0 0 20px 20px;
    }
  
    &_img {
      display: block;
    }  
}

.featuers {
  margin: 0 auto;
  padding-left:20px;
  
    @media(max-width: 920px){
      flex:1 1 510px;
      background: #000;
    } 

    &__list{
      margin: 0;
      padding-left: 15px;
      list-style-image: url('../img/mango.png');
      font-family: Roboto, sans-serif;
      display: flex;
      flex:1 0;
      flex-wrap: wrap;
      font-weight: 300;
    }
    &__item {
      flex:0 1 205px;
      margin: 5px 5px;
      font-size: 13px;

      @media(max-width: 920px){
        flex:0 0 30%;
      }
      @media(max-width: 550px){
        flex:0 0 47%;
      }
      @media(max-width: 390px){
        flex:0 0 80%;
      }
    }  
}

@media(max-width: 920px){
  .pay,.footer__button,.footer__favorite {
    order:-1;
  }
}
