* {
	box-sizing: border-box;
}

body { 
	margin: 0;
	background: url(pictures/bg.jpg);
	padding-top: 29px;
	padding-bottom: 81px;
}



.page h1,h2,h3,p,h4,footer,.work a {
	font-family: Arial;
}

.page h1, h2, .works p,.works h3,.posts h2 {
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}

.page {
	margin: 0 auto;
	width: 1000px;
	background: url(pictures/pattern.png);
	padding: 45px 31px 0 32px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

header {
	display: flex;
	justify-content: space-between;

}
/*              CSS Sprites                    *
***********************************************/
.socials {
	display: flex;
	width: 160px;
	padding-top: 20px;
	justify-content: space-between;
}

.soc1, .soc2, .soc3, .soc4 {
	width: 32px;
	height: 32px;
	overflow: hidden;
	background: url(pictures/socials.png);
}	

.soc1:hover {
	background-position: 0 -32px;
}

.soc2 {
	background-position:-32px 0;				
}

.soc2:hover {
	background-position:-32px -32px;
}

.soc3 {
	background-position:-64px 0;
}

.soc3:hover {
	background-position:-64px -32px;
}


.soc4 {
	background-position:-96px 0;
}

.soc4:hover {
	background-position: -96px -32px;
}
/*              Лента с навигацией
**************************************************/
nav {
	background: url(pictures/ribbon.png) no-repeat;
	margin: 28px -50px 0;
	display: flex;
}

.flex-element {			
	min-width:78px;        
	padding: 0 20px;
}

.flex-element:first-child {
	margin-left: 45px;         /*Отсуп только для 1-го флекс-элемента*/
}

.flex-element:hover {
	background: #62493d;
}

.menu  {
	display: block;
	padding: 25px 0;
	color: #fff;
	font-family: Verdana ;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 1px 2px #735128;
}
/*              Большая рамка
**************************************************/
.big-rect {
	padding-top: 414px;
	background: #d66c27;
	border: solid 5px #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.shadow {
	margin: 0 -32px;
	padding:  46px 32px 0;
	box-shadow: inset 0 5px 5px rgba(0,0,0,0.2);
}

/*              Заголовоки и рамки
**************************************************/
.page h1 {
	margin: 0;
	padding: 60px 0 50px;
	font-size: 26px;
	text-align: center;
	color: #6b3b25;
	text-transform: uppercase;
	line-height: 0.7;
}

.hr {
	display: flex;
	justify-content: space-between;
	border-top: solid 5px #6b3b25;
	border-bottom: solid 1px #6b3b25;
	padding: 16px 0;
}
.hr h2 {
	margin: 0;
	font-size: 14px;
	color: #6b3b25;
	text-transform: uppercase;
	padding-top:2px;
}
.hr a {
	display: block;
	color: #6b3b25;
	text-decoration: none;
}

.works {
	display: flex;
	margin-top: 34px;
	justify-content: space-between;	
}
.work {
	width: 290px;
	text-align: justify;
}
.img-bg {
	padding-top: 373px;
	border: solid 5px #fff;
	width: 290px;
	background: #d66c27;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.work h3 {
	padding-top: 34px;
	margin: 0;
	font-size: 18px;
	color: #6b3b25;
	text-transform: uppercase;
}
.work p, .videos p  {						/*Задаю один стиль обзацев для флекс элементов*/
	color: #6b3b25;
}
.work a {
	padding-top: 20px;
	text-decoration: none;
	color: #6b3b25;
	font-weight: bold;
}

/*              Посты и видео
**************************************************/

/*                  Посты
**************************************************/
.posts-and-video {
	padding-top:83px;
	display: flex;
	justify-content: space-between;
}
.posts{
	width: 300px;
}
.posts-and-video h3{
	margin: 0;
	padding-top: 10px;
	color: #6b3b25;
	font-size: 15px;
	font-family: Arial Black;


}
.post {
	border-bottom: solid 1px #b8a69a ;
}

.post:last-child {
	border:none;
}
.post p {
	margin: 5px 0;
	padding-bottom: 5px;
	color: #c78301;
	font-size: 15px;
}

.post a {
	font-family: Arial;
	color: #c78301;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}

/*                  Видео
**************************************************/
.videos{
	width: 620px;
	margin-bottom: 75px;
}

.video1 {
	margin-top:11px;
	padding-top: 354px;
	background: url(pictures/play.png) no-repeat,#d66c27;
	background-position: center;
}

/*************************************************/
.prefooter{
	background:url(pictures/dark_pattern.png);
	display: flex;
	justify-content: space-between;
	border-top: solid 3px #e09402;
	margin: 0 -31px 0 -32px;
	padding: 0 30px;
}
.prefooter h4 {
	font-size:14px ;
	color: #e09402;
	text-transform: uppercase;
}
.prefooter p {
	color: #cdbea4;
}
.text {
	width: 300px;
}
footer{
	background: url(pictures/footer.png);
	padding: 42px 0 30px;
	text-align: center;
	color: #e09402;
	margin: 0 -31px 0 -32px;
	text-shadow: 0 -2px 3px rgba(0,0,0,0.6);
}
